<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Manufacturers list</title>
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>
<div class="container">
    <h1 th:text="#{manufacturer.header.list}"></h1>
    <table class="table table-bordered">
        <thead>
        <tr class="table-dark">
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/manufacturers(page=${manufacturers.number}, sort='id', order=${order == 'ASC' ? 'DESC' : 'ASC'})}"
                   th:text="#{object.manufacturer.id}"/>
                <i class="fa"
                   th:classappend="${sort == 'id' ? (order == 'ASC' ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/manufacturers(page=${manufacturers.number}, sort='name', order=${order == 'ASC' ? 'DESC' : 'ASC'})}"
                   th:text="#{object.manufacturer.name}"/>
                <i class="fa"
                   th:classappend="${sort == 'name' ? (order == 'ASC' ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'}"></i>
            </th>
            <th th:text="#{object.operations}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer: ${manufacturers}">
            <td th:text="${manufacturer.id}"/>
            <td th:text="${manufacturer.name}"/>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/manufacturers/edit(id=${manufacturer.id})}" th:text="#{btn.edit}"/>
                <a class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this object?');"
                   th:href="@{/manufacturers/delete(id=${manufacturer.id})}" th:text="#{btn.delete}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mb-3" th:href="@{manufacturers/add}" th:text="#{manufacturer.btn.new}"/>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${manufacturers.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/manufacturers(page=${manufacturers.number - 1}, sort=${sort}, order=${order})}">
                    <span class="icon">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i == manufacturers.number} ? 'active' : ''"
                th:each="i : ${#numbers.sequence(0, manufacturers.totalPages - 1)}">
                <a class="page-link" th:href="@{/manufacturers(page=${i}, sort=${sort}, order=${order})}"
                   th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${manufacturers.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/manufacturers(page=${manufacturers.number + 1}, sort=${sort}, order=${order})}">
                    <span class="icon">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div th:insert="~{footer::footer}"></div>
</body>
</html>