<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>New client</title>
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>
<div class="container mt-4">
    <h1 th:text="#{appliance.btn.new}"></h1>
    <form th:action="@{/appliances/add-appliance}" th:object="${appliance}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{object.appliance.name}"></label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label" th:text="#{object.appliance.category}"></label>
            <select class="form-select" id="category" th:field="*{category}" required>
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="manufacturer" class="form-label" th:text="#{object.appliance.manufacturer}"></label>
            <select class="form-select" id="manufacturer" th:field="*{manufacturer}" required>
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer}" th:text="${manufacturer}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="powerType" class="form-label" th:text="#{object.appliance.powerType}"></label>
            <select class="form-select" id="powerType" th:field="*{powerType}" required>
                <option th:each="powerType : ${powerTypes}" th:value="${powerType}" th:text="${powerType}"></option>
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" th:value="#{btn.submit}"/>
            <a class="btn btn-secondary" th:href="@{/appliances}" th:text="#{btn.cancel}"></a>
        </div>
    </form>
</div>
<div th:insert="~{footer::footer}"></div>
</body>
</html>